.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*Login code*/
.login-body{
  background-image:url(../img/wallpaper-login-jap.jpg);
  background-size: cover;
}

.img-login{
  width: 60%;
  height: auto;
  align-self: center;
}
/*div*/
.container-login{
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  flex-direction: column;
  border: 1px solid teal;
  box-shadow: 5px 5px rgb(109, 133, 133);
}
/*form*/
.login-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
}

.login-h2{
  text-align: center;
  box-sizing: border-box;
}
/*labels*/
.label-login{
  align-self: center;
}

.login-input{
  display: block;
  width: 100%;
  margin-bottom: 15px;   
}
/*error p*/
.err-message-text{
  color: red;
  text-align: center;
  display: none;
}

#login-submit{
  width: 15vw;
  height: 7vh;
  color: white;
  background-color: #0173b1;
  border-radius: 7px;
  border: solid 1.5px #53C0FB;
  align-self: center;
  margin-top: 8px;
}
/*end login code*/

/*searchbar and filters code*/
.text-end{
  margin-bottom: -10%;
}
.filt-container{
  display: flex;
  align-items: flex-start;
}
#filt-container{
  display: flex;

  width: 60vw;
}
#searchBar{
  display: flex;
  width: 50%;
  height: auto;
}
/*seachbar and filters end*/

/*product info code*/
.purchase-button{
  text-align: center;  
  display: flex; 
  margin: 1%;
  margin-left: 65%;
  background-color: rgb(18, 134, 76); 
  color: #fff;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 8px;
  width: 8%;
  
}

.prod-h2-container{
  display: flex;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 100%;
}

.prod-image-container{
  display: flex;
  flex: row;
  justify-content: space-between;
}

.prod-img{
  display: flex;
  width: 24%;
  height: auto;
  padding: 1px;
  border: solid 1px rgb(158, 156, 156);  
}
/*end product info code*/

/*comments code*/
.comment-contaier{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px ;
  margin: 3% 8%;
}

.comment-info-container{
  padding: 3px;
  border: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(146, 146, 146);
}

/*add comment code*/
.comment-box-container{
  display: flex;
  flex-direction: column;
  width: 84%;
  margin-left: 8%;
  margin-right: 40%;

}

.review-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 40vh;
}

#user-comment{
  display: flex;
  width: 90%;
  height: 30%;
}

#com-submit{
  margin-top: 10px;
  width: 20%;
  height: auto;
  text-align: center;
  color: aliceblue;
  background-color: #34acec;
  border:1px solid #228ac2;
  border-radius: 5px;
}

#score-list{
  display: flex;
  width: 5%;
}
/*related prods code*/
.rel-prod-p-container{
  margin-left: 8%;
}

.prod-related{
  display: flex;
  flex-direction: row;  
  width: 35vw;
  height: auto;
  justify-content: space-between;
  margin-left: 8%;  
}

.rel-img-container{
  display: flex;
  flex-direction: column;
  width: 48%;
  height: auto;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 6px;  
  cursor: pointer;
}

.rel-prod-img{
  width: 100%;
  height: auto;

}
/*dropdown button*/
.dropdown-menu{
  background-color: rgb(44, 44, 44);
}

.dropdown-item{
  color: white;
}
/*cart*/

.cart-title{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#table-container-main{
  display: flex;
  flex-direction: column;
}

/*cart-table*/

.table-container{  
  display: flex;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
  width: 60%;
  align-self: center;
}
.table-number{
  width: 5vw;
}
.cart-table{
  margin-top: 2%;
}

.table-head{
  border-bottom: solid black 1px;
}

.table-img{
  width: 80px;
}

.td{
  padding: 1%;
}

/*cart-form-radio*/

.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
  width: 60%;
  align-self: center;
}

.form-cart{
  display: flex;
  flex-direction: column;
}

.radios{
  display: flex;
  flex-direction: column;
}

.radio-and-lable{
  margin: 0.5%;
}

/*address*/
.address-h4{
  margin-top: 4%;
}

.input-form-street{
  width: 100%;
}

.address-p{
  margin-bottom: 0;
}
